title: Java microservices on AKS
description: This lab walks you through the creation of a Java microservices application on AKS integrated with multiple Azure services
theme: just-the-docs

# url: https://Azure-Samples.github.io/java-microservices-aks-lab

aux_links:
  Template Repository: https://github.com/Azure-Samples/java-microservices-aks-lab


callouts_level: quiet # or loud
callouts:
  highlight:
    color: yellow
  important:
    title: Important
    color: blue
  new:
    title: New
    color: green
  note:
    title: Note
    color: purple
  warning:
    title: Warning
    color: red